.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#map {
  bottom:0px;
  height: 100%;
  top:100px;
  left: 0;
  position: absolute;
  right: 0;
}
button {
  position: absolute;
  left: 0;
}
.weather {
  position: absolute;
  z-index: 1;
  right: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  background-color: #80808040;
    border-radius: 15px;
    width: 200px;
    padding: 10px;
}
.weather p {
  font-size: xx-small;
  margin: 0;
}